{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}" defer></script>
    <title>Monografias SI</title>
</head>

<body>
    {% comment %}
    <nav class="bg-white shadow-md p-4 flex justify-between items-center">
    <a href="{% url 'dashboard' %}" class="text-xl font-bold">Monografias SI</a>
    <div class="space-x-4">
      {% if request.user.is_authenticated %}
        <span>Olá, {{ request.user.get_full_name|default:request.user.username }}!</span>
        <a href="{% url 'dashboard' %}" class="hover:underline">Dashboard</a>
        <a href="{% url 'monografia_list' %}" class="hover:underline">Monografias</a>
        <a href="{% url 'logout' %}" class="hover:underline">Logout</a>
      {% else %}
        <a href="{% url 'login' %}" class="hover:underline">Login</a>
      {% endif %}
    </div>
    {% endcomment %}
  </nav>
    <div class="container mx-auto">
        {% block content %}{% endblock %}
    </div>
</body>

</html>